<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div class="starter-template">
            <h1 th:text="#{about.title}"></h1>
            <blockquote class="blockquote text-justify">
                <br>
                <h3 class="mb-0" th:text="#{about.project_description}"></h3>
                <br>
                <h3 class="mb-0" th:text="#{about.technology_description}"></h3>
            </blockquote>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>